.mat-red {
  background-color: mat-color($mat-red, 500);
  color: mat-contrast($mat-red, 500);
}
.mat-red-50 {
  background-color: mat-color($mat-red, 50);
  color: mat-contrast($mat-red, 50);
}
.mat-red-100 {
  background-color: mat-color($mat-red, 100);
  color: mat-contrast($mat-red, 100);
}
.mat-red-200 {
  background-color: mat-color($mat-red, 200);
  color: mat-contrast($mat-red, 200);
}
.mat-red-300 {
  background-color: mat-color($mat-red, 300);
  color: mat-contrast($mat-red, 300);
}
.mat-red-400 {
  background-color: mat-color($mat-red, 400);
  color: mat-contrast($mat-red, 400);
}
.mat-red-500 {
  background-color: mat-color($mat-red, 500);
  color: mat-contrast($mat-red, 500);
}
.mat-red-600 {
  background-color: mat-color($mat-red, 600);
  color: mat-contrast($mat-red, 600);
}
.mat-red-700 {
  background-color: mat-color($mat-red, 700);
  color: mat-contrast($mat-red, 700);
}
.mat-red-800 {
  background-color: mat-color($mat-red, 800);
  color: mat-contrast($mat-red, 800);
}
.mat-red-900 {
  background-color: mat-color($mat-red, 900);
  color: mat-contrast($mat-red, 900);
}
.mat-red-A100 {
  background-color: mat-color($mat-red, A100);
  color: mat-contrast($mat-red, A100);
}
.mat-red-A200 {
  background-color: mat-color($mat-red, A200);
  color: mat-contrast($mat-red, A200);
}
.mat-red-A400 {
  background-color: mat-color($mat-red, A400);
  color: mat-contrast($mat-red, A400);
}
.mat-red-A700 {
  background-color: mat-color($mat-red, A700);
  color: mat-contrast($mat-red, A700);
}

.mat-pink {
  background-color: mat-color($mat-pink, 500);
  color: mat-contrast($mat-pink, 500);
}
.mat-pink-50 {
  background-color: mat-color($mat-pink, 50);
  color: mat-contrast($mat-pink, 50);
}
.mat-pink-100 {
  background-color: mat-color($mat-pink, 100);
  color: mat-contrast($mat-pink, 100);
}
.mat-pink-200 {
  background-color: mat-color($mat-pink, 200);
  color: mat-contrast($mat-pink, 200);
}
.mat-pink-300 {
  background-color: mat-color($mat-pink, 300);
  color: mat-contrast($mat-pink, 300);
}
.mat-pink-400 {
  background-color: mat-color($mat-pink, 400);
  color: mat-contrast($mat-pink, 400);
}
.mat-pink-500 {
  background-color: mat-color($mat-pink, 500);
  color: mat-contrast($mat-pink, 500);
}
.mat-pink-600 {
  background-color: mat-color($mat-pink, 600);
  color: mat-contrast($mat-pink, 600);
}
.mat-pink-700 {
  background-color: mat-color($mat-pink, 700);
  color: mat-contrast($mat-pink, 700);
}
.mat-pink-800 {
  background-color: mat-color($mat-pink, 800);
  color: mat-contrast($mat-pink, 800);
}
.mat-pink-900 {
  background-color: mat-color($mat-pink, 900);
  color: mat-contrast($mat-pink, 900);
}
.mat-pink-A100 {
  background-color: mat-color($mat-pink, A100);
  color: mat-contrast($mat-pink, A100);
}
.mat-pink-A200 {
  background-color: mat-color($mat-pink, A200);
  color: mat-contrast($mat-pink, A200);
}
.mat-pink-A400 {
  background-color: mat-color($mat-pink, A400);
  color: mat-contrast($mat-pink, A400);
}
.mat-pink-A700 {
  background-color: mat-color($mat-pink, A700);
  color: mat-contrast($mat-pink, A700);
}

.mat-purple {
  background-color: mat-color($mat-purple, 500);
  color: mat-contrast($mat-purple, 500);
}
.mat-purple-50 {
  background-color: mat-color($mat-purple, 50);
  color: mat-contrast($mat-purple, 50);
}
.mat-purple-100 {
  background-color: mat-color($mat-purple, 100);
  color: mat-contrast($mat-purple, 100);
}
.mat-purple-200 {
  background-color: mat-color($mat-purple, 200);
  color: mat-contrast($mat-purple, 200);
}
.mat-purple-300 {
  background-color: mat-color($mat-purple, 300);
  color: mat-contrast($mat-purple, 300);
}
.mat-purple-400 {
  background-color: mat-color($mat-purple, 400);
  color: mat-contrast($mat-purple, 400);
}
.mat-purple-500 {
  background-color: mat-color($mat-purple, 500);
  color: mat-contrast($mat-purple, 500);
}
.mat-purple-600 {
  background-color: mat-color($mat-purple, 600);
  color: mat-contrast($mat-purple, 600);
}
.mat-purple-700 {
  background-color: mat-color($mat-purple, 700);
  color: mat-contrast($mat-purple, 700);
}
.mat-purple-800 {
  background-color: mat-color($mat-purple, 800);
  color: mat-contrast($mat-purple, 800);
}
.mat-purple-900 {
  background-color: mat-color($mat-purple, 900);
  color: mat-contrast($mat-purple, 900);
}
.mat-purple-A100 {
  background-color: mat-color($mat-purple, A100);
  color: mat-contrast($mat-purple, A100);
}
.mat-purple-A200 {
  background-color: mat-color($mat-purple, A200);
  color: mat-contrast($mat-purple, A200);
}
.mat-purple-A400 {
  background-color: mat-color($mat-purple, A400);
  color: mat-contrast($mat-purple, A400);
}
.mat-purple-A700 {
  background-color: mat-color($mat-purple, A700);
  color: mat-contrast($mat-purple, A700);
}

.mat-deep-purple {
  background-color: mat-color($mat-deep-purple, 500);
  color: mat-contrast($mat-deep-purple, 500);
}
.mat-deep-purple-50 {
  background-color: mat-color($mat-deep-purple, 50);
  color: mat-contrast($mat-deep-purple, 50);
}
.mat-deep-purple-100 {
  background-color: mat-color($mat-deep-purple, 100);
  color: mat-contrast($mat-deep-purple, 100);
}
.mat-deep-purple-200 {
  background-color: mat-color($mat-deep-purple, 200);
  color: mat-contrast($mat-deep-purple, 200);
}
.mat-deep-purple-300 {
  background-color: mat-color($mat-deep-purple, 300);
  color: mat-contrast($mat-deep-purple, 300);
}
.mat-deep-purple-400 {
  background-color: mat-color($mat-deep-purple, 400);
  color: mat-contrast($mat-deep-purple, 400);
}
.mat-deep-purple-500 {
  background-color: mat-color($mat-deep-purple, 500);
  color: mat-contrast($mat-deep-purple, 500);
}
.mat-deep-purple-600 {
  background-color: mat-color($mat-deep-purple, 600);
  color: mat-contrast($mat-deep-purple, 600);
}
.mat-deep-purple-700 {
  background-color: mat-color($mat-deep-purple, 700);
  color: mat-contrast($mat-deep-purple, 700);
}
.mat-deep-purple-800 {
  background-color: mat-color($mat-deep-purple, 800);
  color: mat-contrast($mat-deep-purple, 800);
}
.mat-deep-purple-900 {
  background-color: mat-color($mat-deep-purple, 900);
  color: mat-contrast($mat-deep-purple, 900);
}
.mat-deep-purple-A100 {
  background-color: mat-color($mat-deep-purple, A100);
  color: mat-contrast($mat-deep-purple, A100);
}
.mat-deep-purple-A200 {
  background-color: mat-color($mat-deep-purple, A200);
  color: mat-contrast($mat-deep-purple, A200);
}
.mat-deep-purple-A400 {
  background-color: mat-color($mat-deep-purple, A400);
  color: mat-contrast($mat-deep-purple, A400);
}
.mat-deep-purple-A700 {
  background-color: mat-color($mat-deep-purple, A700);
  color: mat-contrast($mat-deep-purple, A700);
}

.mat-indigo {
  background-color: mat-color($mat-indigo, 500);
  color: mat-contrast($mat-indigo, 500);
}
.mat-indigo-50 {
  background-color: mat-color($mat-indigo, 50);
  color: mat-contrast($mat-indigo, 50);
}
.mat-indigo-100 {
  background-color: mat-color($mat-indigo, 100);
  color: mat-contrast($mat-indigo, 100);
}
.mat-indigo-200 {
  background-color: mat-color($mat-indigo, 200);
  color: mat-contrast($mat-indigo, 200);
}
.mat-indigo-300 {
  background-color: mat-color($mat-indigo, 300);
  color: mat-contrast($mat-indigo, 300);
}
.mat-indigo-400 {
  background-color: mat-color($mat-indigo, 400);
  color: mat-contrast($mat-indigo, 400);
}
.mat-indigo-500 {
  background-color: mat-color($mat-indigo, 500);
  color: mat-contrast($mat-indigo, 500);
}
.mat-indigo-600 {
  background-color: mat-color($mat-indigo, 600);
  color: mat-contrast($mat-indigo, 600);
}
.mat-indigo-700 {
  background-color: mat-color($mat-indigo, 700);
  color: mat-contrast($mat-indigo, 700);
}
.mat-indigo-800 {
  background-color: mat-color($mat-indigo, 800);
  color: mat-contrast($mat-indigo, 800);
}
.mat-indigo-900 {
  background-color: mat-color($mat-indigo, 900);
  color: mat-contrast($mat-indigo, 900);
}
.mat-indigo-A100 {
  background-color: mat-color($mat-indigo, A100);
  color: mat-contrast($mat-indigo, A100);
}
.mat-indigo-A200 {
  background-color: mat-color($mat-indigo, A200);
  color: mat-contrast($mat-indigo, A200);
}
.mat-indigo-A400 {
  background-color: mat-color($mat-indigo, A400);
  color: mat-contrast($mat-indigo, A400);
}
.mat-indigo-A700 {
  background-color: mat-color($mat-indigo, A700);
  color: mat-contrast($mat-indigo, A700);
}

.mat-mcs-blue {
  background-color: mat-color($mat-mcs-blue, 500);
  color: mat-contrast($mat-mcs-blue, 500);
}

.mat-blue {
  background-color: mat-color($mat-blue, 500);
  color: mat-contrast($mat-blue, 500);
}
.mat-blue-50 {
  background-color: mat-color($mat-blue, 50);
  color: mat-contrast($mat-blue, 50);
}
.mat-blue-100 {
  background-color: mat-color($mat-blue, 100);
  color: mat-contrast($mat-blue, 100);
}
.mat-blue-200 {
  background-color: mat-color($mat-blue, 200);
  color: mat-contrast($mat-blue, 200);
}
.mat-blue-300 {
  background-color: mat-color($mat-blue, 300);
  color: mat-contrast($mat-blue, 300);
}
.mat-blue-400 {
  background-color: mat-color($mat-blue, 400);
  color: mat-contrast($mat-blue, 400);
}
.mat-blue-500 {
  background-color: mat-color($mat-blue, 500);
  color: mat-contrast($mat-blue, 500);
}
.mat-blue-600 {
  background-color: mat-color($mat-blue, 600);
  color: mat-contrast($mat-blue, 600);
}
.mat-blue-700 {
  background-color: mat-color($mat-blue, 700);
  color: mat-contrast($mat-blue, 700);
}
.mat-blue-800 {
  background-color: mat-color($mat-blue, 800);
  color: mat-contrast($mat-blue, 800);
}
.mat-blue-900 {
  background-color: mat-color($mat-blue, 900);
  color: mat-contrast($mat-blue, 900);
}
.mat-blue-A100 {
  background-color: mat-color($mat-blue, A100);
  color: mat-contrast($mat-blue, A100);
}
.mat-blue-A200 {
  background-color: mat-color($mat-blue, A200);
  color: mat-contrast($mat-blue, A200);
}
.mat-blue-A400 {
  background-color: mat-color($mat-blue, A400);
  color: mat-contrast($mat-blue, A400);
}
.mat-blue-A700 {
  background-color: mat-color($mat-blue, A700);
  color: mat-contrast($mat-blue, A700);
}

.mat-light-blue {
  background-color: mat-color($mat-light-blue, 500);
  color: mat-contrast($mat-light-blue, 500);
}
.mat-light-blue-50 {
  background-color: mat-color($mat-light-blue, 50);
  color: mat-contrast($mat-light-blue, 50);
}
.mat-light-blue-100 {
  background-color: mat-color($mat-light-blue, 100);
  color: mat-contrast($mat-light-blue, 100);
}
.mat-light-blue-200 {
  background-color: mat-color($mat-light-blue, 200);
  color: mat-contrast($mat-light-blue, 200);
}
.mat-light-blue-300 {
  background-color: mat-color($mat-light-blue, 300);
  color: mat-contrast($mat-light-blue, 300);
}
.mat-light-blue-400 {
  background-color: mat-color($mat-light-blue, 400);
  color: mat-contrast($mat-light-blue, 400);
}
.mat-light-blue-500 {
  background-color: mat-color($mat-light-blue, 500);
  color: mat-contrast($mat-light-blue, 500);
}
.mat-light-blue-600 {
  background-color: mat-color($mat-light-blue, 600);
  color: mat-contrast($mat-light-blue, 600);
}
.mat-light-blue-700 {
  background-color: mat-color($mat-light-blue, 700);
  color: mat-contrast($mat-light-blue, 700);
}
.mat-light-blue-800 {
  background-color: mat-color($mat-light-blue, 800);
  color: mat-contrast($mat-light-blue, 800);
}
.mat-light-blue-900 {
  background-color: mat-color($mat-light-blue, 900);
  color: mat-contrast($mat-light-blue, 900);
}
.mat-light-blue-A100 {
  background-color: mat-color($mat-light-blue, A100);
  color: mat-contrast($mat-light-blue, A100);
}
.mat-light-blue-A200 {
  background-color: mat-color($mat-light-blue, A200);
  color: mat-contrast($mat-light-blue, A200);
}
.mat-light-blue-A400 {
  background-color: mat-color($mat-light-blue, A400);
  color: mat-contrast($mat-light-blue, A400);
}
.mat-light-blue-A700 {
  background-color: mat-color($mat-light-blue, A700);
  color: mat-contrast($mat-light-blue, A700);
}

.mat-cyan {
  background-color: mat-color($mat-cyan, 500);
  color: mat-contrast($mat-cyan, 500);
}
.mat-cyan-50 {
  background-color: mat-color($mat-cyan, 50);
  color: mat-contrast($mat-cyan, 50);
}
.mat-cyan-100 {
  background-color: mat-color($mat-cyan, 100);
  color: mat-contrast($mat-cyan, 100);
}
.mat-cyan-200 {
  background-color: mat-color($mat-cyan, 200);
  color: mat-contrast($mat-cyan, 200);
}
.mat-cyan-300 {
  background-color: mat-color($mat-cyan, 300);
  color: mat-contrast($mat-cyan, 300);
}
.mat-cyan-400 {
  background-color: mat-color($mat-cyan, 400);
  color: mat-contrast($mat-cyan, 400);
}
.mat-cyan-500 {
  background-color: mat-color($mat-cyan, 500);
  color: mat-contrast($mat-cyan, 500);
}
.mat-cyan-600 {
  background-color: mat-color($mat-cyan, 600);
  color: mat-contrast($mat-cyan, 600);
}
.mat-cyan-700 {
  background-color: mat-color($mat-cyan, 700);
  color: mat-contrast($mat-cyan, 700);
}
.mat-cyan-800 {
  background-color: mat-color($mat-cyan, 800);
  color: mat-contrast($mat-cyan, 800);
}
.mat-cyan-900 {
  background-color: mat-color($mat-cyan, 900);
  color: mat-contrast($mat-cyan, 900);
}
.mat-cyan-A100 {
  background-color: mat-color($mat-cyan, A100);
  color: mat-contrast($mat-cyan, A100);
}
.mat-cyan-A200 {
  background-color: mat-color($mat-cyan, A200);
  color: mat-contrast($mat-cyan, A200);
}
.mat-cyan-A400 {
  background-color: mat-color($mat-cyan, A400);
  color: mat-contrast($mat-cyan, A400);
}
.mat-cyan-A700 {
  background-color: mat-color($mat-cyan, A700);
  color: mat-contrast($mat-cyan, A700);
}

.mat-teal {
  background-color: mat-color($mat-teal, 500);
  color: mat-contrast($mat-teal, 500);
}
.mat-teal-50 {
  background-color: mat-color($mat-teal, 50);
  color: mat-contrast($mat-teal, 50);
}
.mat-teal-100 {
  background-color: mat-color($mat-teal, 100);
  color: mat-contrast($mat-teal, 100);
}
.mat-teal-200 {
  background-color: mat-color($mat-teal, 200);
  color: mat-contrast($mat-teal, 200);
}
.mat-teal-300 {
  background-color: mat-color($mat-teal, 300);
  color: mat-contrast($mat-teal, 300);
}
.mat-teal-400 {
  background-color: mat-color($mat-teal, 400);
  color: mat-contrast($mat-teal, 400);
}
.mat-teal-500 {
  background-color: mat-color($mat-teal, 500);
  color: mat-contrast($mat-teal, 500);
}
.mat-teal-600 {
  background-color: mat-color($mat-teal, 600);
  color: mat-contrast($mat-teal, 600);
}
.mat-teal-700 {
  background-color: mat-color($mat-teal, 700);
  color: mat-contrast($mat-teal, 700);
}
.mat-teal-800 {
  background-color: mat-color($mat-teal, 800);
  color: mat-contrast($mat-teal, 800);
}
.mat-teal-900 {
  background-color: mat-color($mat-teal, 900);
  color: mat-contrast($mat-teal, 900);
}
.mat-teal-A100 {
  background-color: mat-color($mat-teal, A100);
  color: mat-contrast($mat-teal, A100);
}
.mat-teal-A200 {
  background-color: mat-color($mat-teal, A200);
  color: mat-contrast($mat-teal, A200);
}
.mat-teal-A400 {
  background-color: mat-color($mat-teal, A400);
  color: mat-contrast($mat-teal, A400);
}
.mat-teal-A700 {
  background-color: mat-color($mat-teal, A700);
  color: mat-contrast($mat-teal, A700);
}

.mat-green {
  background-color: mat-color($mat-green, 500);
  color: mat-contrast($mat-green, 500);
}
.mat-green-50 {
  background-color: mat-color($mat-green, 50);
  color: mat-contrast($mat-green, 50);
}
.mat-green-100 {
  background-color: mat-color($mat-green, 100);
  color: mat-contrast($mat-green, 100);
}
.mat-green-200 {
  background-color: mat-color($mat-green, 200);
  color: mat-contrast($mat-green, 200);
}
.mat-green-300 {
  background-color: mat-color($mat-green, 300);
  color: mat-contrast($mat-green, 300);
}
.mat-green-400 {
  background-color: mat-color($mat-green, 400);
  color: mat-contrast($mat-green, 400);
}
.mat-green-500 {
  background-color: mat-color($mat-green, 500);
  color: mat-contrast($mat-green, 500);
}
.mat-green-600 {
  background-color: mat-color($mat-green, 600);
  color: mat-contrast($mat-green, 600);
}
.mat-green-700 {
  background-color: mat-color($mat-green, 700);
  color: mat-contrast($mat-green, 700);
}
.mat-green-800 {
  background-color: mat-color($mat-green, 800);
  color: mat-contrast($mat-green, 800);
}
.mat-green-900 {
  background-color: mat-color($mat-green, 900);
  color: mat-contrast($mat-green, 900);
}
.mat-green-A100 {
  background-color: mat-color($mat-green, A100);
  color: mat-contrast($mat-green, A100);
}
.mat-green-A200 {
  background-color: mat-color($mat-green, A200);
  color: mat-contrast($mat-green, A200);
}
.mat-green-A400 {
  background-color: mat-color($mat-green, A400);
  color: mat-contrast($mat-green, A400);
}
.mat-green-A700 {
  background-color: mat-color($mat-green, A700);
  color: mat-contrast($mat-green, A700);
}

.mat-light-green {
  background-color: mat-color($mat-light-green, 500);
  color: mat-contrast($mat-light-green, 500);
}
.mat-light-green-50 {
  background-color: mat-color($mat-light-green, 50);
  color: mat-contrast($mat-light-green, 50);
}
.mat-light-green-100 {
  background-color: mat-color($mat-light-green, 100);
  color: mat-contrast($mat-light-green, 100);
}
.mat-light-green-200 {
  background-color: mat-color($mat-light-green, 200);
  color: mat-contrast($mat-light-green, 200);
}
.mat-light-green-300 {
  background-color: mat-color($mat-light-green, 300);
  color: mat-contrast($mat-light-green, 300);
}
.mat-light-green-400 {
  background-color: mat-color($mat-light-green, 400);
  color: mat-contrast($mat-light-green, 400);
}
.mat-light-green-500 {
  background-color: mat-color($mat-light-green, 500);
  color: mat-contrast($mat-light-green, 500);
}
.mat-light-green-600 {
  background-color: mat-color($mat-light-green, 600);
  color: mat-contrast($mat-light-green, 600);
}
.mat-light-green-700 {
  background-color: mat-color($mat-light-green, 700);
  color: mat-contrast($mat-light-green, 700);
}
.mat-light-green-800 {
  background-color: mat-color($mat-light-green, 800);
  color: mat-contrast($mat-light-green, 800);
}
.mat-light-green-900 {
  background-color: mat-color($mat-light-green, 900);
  color: mat-contrast($mat-light-green, 900);
}
.mat-light-green-A100 {
  background-color: mat-color($mat-light-green, A100);
  color: mat-contrast($mat-light-green, A100);
}
.mat-light-green-A200 {
  background-color: mat-color($mat-light-green, A200);
  color: mat-contrast($mat-light-green, A200);
}
.mat-light-green-A400 {
  background-color: mat-color($mat-light-green, A400);
  color: mat-contrast($mat-light-green, A400);
}
.mat-light-green-A700 {
  background-color: mat-color($mat-light-green, A700);
  color: mat-contrast($mat-light-green, A700);
}

.mat-lime {
  background-color: mat-color($mat-lime, 500);
  color: mat-contrast($mat-lime, 500);
}
.mat-lime-50 {
  background-color: mat-color($mat-lime, 50);
  color: mat-contrast($mat-lime, 50);
}
.mat-lime-100 {
  background-color: mat-color($mat-lime, 100);
  color: mat-contrast($mat-lime, 100);
}
.mat-lime-200 {
  background-color: mat-color($mat-lime, 200);
  color: mat-contrast($mat-lime, 200);
}
.mat-lime-300 {
  background-color: mat-color($mat-lime, 300);
  color: mat-contrast($mat-lime, 300);
}
.mat-lime-400 {
  background-color: mat-color($mat-lime, 400);
  color: mat-contrast($mat-lime, 400);
}
.mat-lime-500 {
  background-color: mat-color($mat-lime, 500);
  color: mat-contrast($mat-lime, 500);
}
.mat-lime-600 {
  background-color: mat-color($mat-lime, 600);
  color: mat-contrast($mat-lime, 600);
}
.mat-lime-700 {
  background-color: mat-color($mat-lime, 700);
  color: mat-contrast($mat-lime, 700);
}
.mat-lime-800 {
  background-color: mat-color($mat-lime, 800);
  color: mat-contrast($mat-lime, 800);
}
.mat-lime-900 {
  background-color: mat-color($mat-lime, 900);
  color: mat-contrast($mat-lime, 900);
}
.mat-lime-A100 {
  background-color: mat-color($mat-lime, A100);
  color: mat-contrast($mat-lime, A100);
}
.mat-lime-A200 {
  background-color: mat-color($mat-lime, A200);
  color: mat-contrast($mat-lime, A200);
}
.mat-lime-A400 {
  background-color: mat-color($mat-lime, A400);
  color: mat-contrast($mat-lime, A400);
}
.mat-lime-A700 {
  background-color: mat-color($mat-lime, A700);
  color: mat-contrast($mat-lime, A700);
}

.mat-yellow {
  background-color: mat-color($mat-yellow, 500);
  color: mat-contrast($mat-yellow, 500);
}
.mat-yellow-50 {
  background-color: mat-color($mat-yellow, 50);
  color: mat-contrast($mat-yellow, 50);
}
.mat-yellow-100 {
  background-color: mat-color($mat-yellow, 100);
  color: mat-contrast($mat-yellow, 100);
}
.mat-yellow-200 {
  background-color: mat-color($mat-yellow, 200);
  color: mat-contrast($mat-yellow, 200);
}
.mat-yellow-300 {
  background-color: mat-color($mat-yellow, 300);
  color: mat-contrast($mat-yellow, 300);
}
.mat-yellow-400 {
  background-color: mat-color($mat-yellow, 400);
  color: mat-contrast($mat-yellow, 400);
}
.mat-yellow-500 {
  background-color: mat-color($mat-yellow, 500);
  color: mat-contrast($mat-yellow, 500);
}
.mat-yellow-600 {
  background-color: mat-color($mat-yellow, 600);
  color: mat-contrast($mat-yellow, 600);
}
.mat-yellow-700 {
  background-color: mat-color($mat-yellow, 700);
  color: mat-contrast($mat-yellow, 700);
}
.mat-yellow-800 {
  background-color: mat-color($mat-yellow, 800);
  color: mat-contrast($mat-yellow, 800);
}
.mat-yellow-900 {
  background-color: mat-color($mat-yellow, 900);
  color: mat-contrast($mat-yellow, 900);
}
.mat-yellow-A100 {
  background-color: mat-color($mat-yellow, A100);
  color: mat-contrast($mat-yellow, A100);
}
.mat-yellow-A200 {
  background-color: mat-color($mat-yellow, A200);
  color: mat-contrast($mat-yellow, A200);
}
.mat-yellow-A400 {
  background-color: mat-color($mat-yellow, A400);
  color: mat-contrast($mat-yellow, A400);
}
.mat-yellow-A700 {
  background-color: mat-color($mat-yellow, A700);
  color: mat-contrast($mat-yellow, A700);
}

.mat-amber {
  background-color: mat-color($mat-amber, 500);
  color: mat-contrast($mat-amber, 500);
}
.mat-amber-50 {
  background-color: mat-color($mat-amber, 50);
  color: mat-contrast($mat-amber, 50);
}
.mat-amber-100 {
  background-color: mat-color($mat-amber, 100);
  color: mat-contrast($mat-amber, 100);
}
.mat-amber-200 {
  background-color: mat-color($mat-amber, 200);
  color: mat-contrast($mat-amber, 200);
}
.mat-amber-300 {
  background-color: mat-color($mat-amber, 300);
  color: mat-contrast($mat-amber, 300);
}
.mat-amber-400 {
  background-color: mat-color($mat-amber, 400);
  color: mat-contrast($mat-amber, 400);
}
.mat-amber-500 {
  background-color: mat-color($mat-amber, 500);
  color: mat-contrast($mat-amber, 500);
}
.mat-amber-600 {
  background-color: mat-color($mat-amber, 600);
  color: mat-contrast($mat-amber, 600);
}
.mat-amber-700 {
  background-color: mat-color($mat-amber, 700);
  color: mat-contrast($mat-amber, 700);
}
.mat-amber-800 {
  background-color: mat-color($mat-amber, 800);
  color: mat-contrast($mat-amber, 800);
}
.mat-amber-900 {
  background-color: mat-color($mat-amber, 900);
  color: mat-contrast($mat-amber, 900);
}
.mat-amber-A100 {
  background-color: mat-color($mat-amber, A100);
  color: mat-contrast($mat-amber, A100);
}
.mat-amber-A200 {
  background-color: mat-color($mat-amber, A200);
  color: mat-contrast($mat-amber, A200);
}
.mat-amber-A400 {
  background-color: mat-color($mat-amber, A400);
  color: mat-contrast($mat-amber, A400);
}
.mat-amber-A700 {
  background-color: mat-color($mat-amber, A700);
  color: mat-contrast($mat-amber, A700);
}

.mat-orange {
  background-color: mat-color($mat-orange, 500);
  color: mat-contrast($mat-orange, 500);
}
.mat-orange-50 {
  background-color: mat-color($mat-orange, 50);
  color: mat-contrast($mat-orange, 50);
}
.mat-orange-100 {
  background-color: mat-color($mat-orange, 100);
  color: mat-contrast($mat-orange, 100);
}
.mat-orange-200 {
  background-color: mat-color($mat-orange, 200);
  color: mat-contrast($mat-orange, 200);
}
.mat-orange-300 {
  background-color: mat-color($mat-orange, 300);
  color: mat-contrast($mat-orange, 300);
}
.mat-orange-400 {
  background-color: mat-color($mat-orange, 400);
  color: mat-contrast($mat-orange, 400);
}
.mat-orange-500 {
  background-color: mat-color($mat-orange, 500);
  color: mat-contrast($mat-orange, 500);
}
.mat-orange-600 {
  background-color: mat-color($mat-orange, 600);
  color: mat-contrast($mat-orange, 600);
}
.mat-orange-700 {
  background-color: mat-color($mat-orange, 700);
  color: mat-contrast($mat-orange, 700);
}
.mat-orange-800 {
  background-color: mat-color($mat-orange, 800);
  color: mat-contrast($mat-orange, 800);
}
.mat-orange-900 {
  background-color: mat-color($mat-orange, 900);
  color: mat-contrast($mat-orange, 900);
}
.mat-orange-A100 {
  background-color: mat-color($mat-orange, A100);
  color: mat-contrast($mat-orange, A100);
}
.mat-orange-A200 {
  background-color: mat-color($mat-orange, A200);
  color: mat-contrast($mat-orange, A200);
}
.mat-orange-A400 {
  background-color: mat-color($mat-orange, A400);
  color: mat-contrast($mat-orange, A400);
}
.mat-orange-A700 {
  background-color: mat-color($mat-orange, A700);
  color: mat-contrast($mat-orange, A700);
}

.mat-deep-orange {
  background-color: mat-color($mat-deep-orange, 500);
  color: mat-contrast($mat-deep-orange, 500);
}
.mat-deep-orange-50 {
  background-color: mat-color($mat-deep-orange, 50);
  color: mat-contrast($mat-deep-orange, 50);
}
.mat-deep-orange-100 {
  background-color: mat-color($mat-deep-orange, 100);
  color: mat-contrast($mat-deep-orange, 100);
}
.mat-deep-orange-200 {
  background-color: mat-color($mat-deep-orange, 200);
  color: mat-contrast($mat-deep-orange, 200);
}
.mat-deep-orange-300 {
  background-color: mat-color($mat-deep-orange, 300);
  color: mat-contrast($mat-deep-orange, 300);
}
.mat-deep-orange-400 {
  background-color: mat-color($mat-deep-orange, 400);
  color: mat-contrast($mat-deep-orange, 400);
}
.mat-deep-orange-500 {
  background-color: mat-color($mat-deep-orange, 500);
  color: mat-contrast($mat-deep-orange, 500);
}
.mat-deep-orange-600 {
  background-color: mat-color($mat-deep-orange, 600);
  color: mat-contrast($mat-deep-orange, 600);
}
.mat-deep-orange-700 {
  background-color: mat-color($mat-deep-orange, 700);
  color: mat-contrast($mat-deep-orange, 700);
}
.mat-deep-orange-800 {
  background-color: mat-color($mat-deep-orange, 800);
  color: mat-contrast($mat-deep-orange, 800);
}
.mat-deep-orange-900 {
  background-color: mat-color($mat-deep-orange, 900);
  color: mat-contrast($mat-deep-orange, 900);
}
.mat-deep-orange-A100 {
  background-color: mat-color($mat-deep-orange, A100);
  color: mat-contrast($mat-deep-orange, A100);
}
.mat-deep-orange-A200 {
  background-color: mat-color($mat-deep-orange, A200);
  color: mat-contrast($mat-deep-orange, A200);
}
.mat-deep-orange-A400 {
  background-color: mat-color($mat-deep-orange, A400);
  color: mat-contrast($mat-deep-orange, A400);
}
.mat-deep-orange-A700 {
  background-color: mat-color($mat-deep-orange, A700);
  color: mat-contrast($mat-deep-orange, A700);
}

.mat-brown {
  background-color: mat-color($mat-brown, 500);
  color: mat-contrast($mat-brown, 500);
}
.mat-brown-50 {
  background-color: mat-color($mat-brown, 50);
  color: mat-contrast($mat-brown, 50);
}
.mat-brown-100 {
  background-color: mat-color($mat-brown, 100);
  color: mat-contrast($mat-brown, 100);
}
.mat-brown-200 {
  background-color: mat-color($mat-brown, 200);
  color: mat-contrast($mat-brown, 200);
}
.mat-brown-300 {
  background-color: mat-color($mat-brown, 300);
  color: mat-contrast($mat-brown, 300);
}
.mat-brown-400 {
  background-color: mat-color($mat-brown, 400);
  color: mat-contrast($mat-brown, 400);
}
.mat-brown-500 {
  background-color: mat-color($mat-brown, 500);
  color: mat-contrast($mat-brown, 500);
}
.mat-brown-600 {
  background-color: mat-color($mat-brown, 600);
  color: mat-contrast($mat-brown, 600);
}
.mat-brown-700 {
  background-color: mat-color($mat-brown, 700);
  color: mat-contrast($mat-brown, 700);
}
.mat-brown-800 {
  background-color: mat-color($mat-brown, 800);
  color: mat-contrast($mat-brown, 800);
}
.mat-brown-900 {
  background-color: mat-color($mat-brown, 900);
  color: mat-contrast($mat-brown, 900);
}
.mat-brown-A100 {
  background-color: mat-color($mat-brown, A100);
  color: mat-contrast($mat-brown, A100);
}
.mat-brown-A200 {
  background-color: mat-color($mat-brown, A200);
  color: mat-contrast($mat-brown, A200);
}
.mat-brown-A400 {
  background-color: mat-color($mat-brown, A400);
  color: mat-contrast($mat-brown, A400);
}
.mat-brown-A700 {
  background-color: mat-color($mat-brown, A700);
  color: mat-contrast($mat-brown, A700);
}

.mat-grey {
  background-color: mat-color($mat-grey, 500);
  color: mat-contrast($mat-grey, 500);
}
.mat-grey-50 {
  background-color: mat-color($mat-grey, 50);
  color: mat-contrast($mat-grey, 50);
}
.mat-grey-100 {
  background-color: mat-color($mat-grey, 100);
  color: mat-contrast($mat-grey, 100);
}
.mat-grey-200 {
  background-color: mat-color($mat-grey, 200);
  color: mat-contrast($mat-grey, 200);
}
.mat-grey-300 {
  background-color: mat-color($mat-grey, 300);
  color: mat-contrast($mat-grey, 300);
}
.mat-grey-400 {
  background-color: mat-color($mat-grey, 400);
  color: mat-contrast($mat-grey, 400);
}
.mat-grey-500 {
  background-color: mat-color($mat-grey, 500);
  color: mat-contrast($mat-grey, 500);
}
.mat-grey-600 {
  background-color: mat-color($mat-grey, 600);
  color: mat-contrast($mat-grey, 600);
}
.mat-grey-700 {
  background-color: mat-color($mat-grey, 700);
  color: mat-contrast($mat-grey, 700);
}
.mat-grey-800 {
  background-color: mat-color($mat-grey, 800);
  color: mat-contrast($mat-grey, 800);
}
.mat-grey-900 {
  background-color: mat-color($mat-grey, 900);
  color: mat-contrast($mat-grey, 900);
}
.mat-grey-A100 {
  background-color: mat-color($mat-grey, A100);
  color: mat-contrast($mat-grey, A100);
}
.mat-grey-A200 {
  background-color: mat-color($mat-grey, A200);
  color: mat-contrast($mat-grey, A200);
}
.mat-grey-A400 {
  background-color: mat-color($mat-grey, A400);
  color: mat-contrast($mat-grey, A400);
}
.mat-grey-A700 {
  background-color: mat-color($mat-grey, A700);
  color: mat-contrast($mat-grey, A700);
}

.mat-blue-grey {
  background-color: mat-color($mat-blue-grey, 500);
  color: mat-contrast($mat-blue-grey, 500);
}
.mat-blue-grey-50 {
  background-color: mat-color($mat-blue-grey, 50);
  color: mat-contrast($mat-blue-grey, 50);
}
.mat-blue-grey-100 {
  background-color: mat-color($mat-blue-grey, 100);
  color: mat-contrast($mat-blue-grey, 100);
}
.mat-blue-grey-200 {
  background-color: mat-color($mat-blue-grey, 200);
  color: mat-contrast($mat-blue-grey, 200);
}
.mat-blue-grey-300 {
  background-color: mat-color($mat-blue-grey, 300);
  color: mat-contrast($mat-blue-grey, 300);
}
.mat-blue-grey-400 {
  background-color: mat-color($mat-blue-grey, 400);
  color: mat-contrast($mat-blue-grey, 400);
}
.mat-blue-grey-500 {
  background-color: mat-color($mat-blue-grey, 500);
  color: mat-contrast($mat-blue-grey, 500);
}
.mat-blue-grey-600 {
  background-color: mat-color($mat-blue-grey, 600);
  color: mat-contrast($mat-blue-grey, 600);
}
.mat-blue-grey-700 {
  background-color: mat-color($mat-blue-grey, 700);
  color: mat-contrast($mat-blue-grey, 700);
}
.mat-blue-grey-800 {
  background-color: mat-color($mat-blue-grey, 800);
  color: mat-contrast($mat-blue-grey, 800);
}
.mat-blue-grey-900 {
  background-color: mat-color($mat-blue-grey, 900);
  color: mat-contrast($mat-blue-grey, 900);
}
.mat-blue-grey-A100 {
  background-color: mat-color($mat-blue-grey, A100);
  color: mat-contrast($mat-blue-grey, A100);
}
.mat-blue-grey-A200 {
  background-color: mat-color($mat-blue-grey, A200);
  color: mat-contrast($mat-blue-grey, A200);
}
.mat-blue-grey-A400 {
  background-color: mat-color($mat-blue-grey, A400);
  color: mat-contrast($mat-blue-grey, A400);
}
.mat-blue-grey-A700 {
  background-color: mat-color($mat-blue-grey, A700);
  color: mat-contrast($mat-blue-grey, A700);
}
