@import "/src/assets/styles/scss/material.variables";

mat-tabs:not(.mat-no-tab-content):not(.mat-dynamic-height) {
  min-height: 100%;
}

/* unvisited link */
a {
  color: mat-color($mat-mcs-blue, 500);
}

/* visited link */
a:visited {
  color: mat-color($mat-mcs-blue, 500);
}

/* mouse over link */
a:hover {
  color: dodgerblue;
}

/* selected link */
a:active {
  color: mat-color($mat-mcs-blue, 500);
}

.block {
  height: -webkit-calc(100vh - 185px);
  height: -moz-calc(100vh - 185px);
  height: calc(100vh - 185px);
}
