@import "/src/assets/styles/scss/material.variables";

/* unvisited link */
a:link {
    color: mat-color($mat-mcs-blue, 500);
}

/* visited link */
a:visited {
    color: mat-color($mat-mcs-blue, 500);
}

/* mouse over link */
a:hover {
    color: dodgerblue;
}

/* selected link */
a:active {
    color: mat-color($mat-mcs-blue, 500);
}

.firmware-upload {
    width: 300px;
}

.firmware-upload-btn {
    margin-top: 5px;
}